html {
  font-size: 16px;
  background-color: #f3f6f7;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: gray;
  cursor: pointer;
}

.header {
  display: flex;
  background-color: white;
  max-width: 1100px;
  min-width: 300px;
}

#left-header-title {
  display: flex;
  justify-content: flex-start;
}

.header-navs {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  gap: 30px;
  margin-top: 35px;
  padding-right: 35px;
}

.header nav:hover {
  text-align: right;
  color: gray;
  cursor: pointer;
}

header h1 {
  font-family: "Yellowtail";
  font-weight: 300;
}

.banner h2 {
  font-family: "Vollkorn";
  font-weight: 400 !important;
  font-size: 3rem;
  color: rgb(55, 55, 55);
  display: flex;
  justify-content: center;
}

.banner img {
  display: flex;
  width: 100%;
  min-width: 300px;
  max-width: 1100px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.container {
  background-color: white;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  min-width: 300px;
}

.articles img {
  width: 100%;
  max-width: 300px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  list-style-type: none;
  gap: 10px;
}

.grid-container {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.articles li h2 {
  font-size: 1rem;
}

.articles li p {
  font-size: 1rem;
  max-width: 300px;
}

footer {
  border-top: 10px solid #f3f6f7 !important;
  display: flex;
  flex-direction: row;
}

footer h1 {
  padding-left: 20px;
  font-size: 1.5rem;
  font-weight: 300;
  padding-bottom: 30px;
}

footer div {
  padding: 50px;
}

footer img {
  width: 100%;
  max-width: 300px;
  margin-left: auto;
}